---
import '../styles/global.css';

---
<style>
    .fade {
        scrollbar-width: none;
        mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 10%,
            black 90%,
            transparent 100%
        );

    }
</style>
<div class="fade max-h-full max-w-1/2 overflow-y-auto py-[40px]">
    <div class="text-lg">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolore ratione repellendus fugiat consequuntur illo quisquam doloribus numquam, minus dolorum delectus rem adipisci officiis fuga assumenda, veniam odit error tempora! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, molestias. Quasi libero aut corrupti dolore ratione repudiandae iusto praesentium illo magnam ipsum, quaerat, error impedit nesciunt unde quas quod expedita? Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cupiditate, odit adipisci, fuga, exercitationem nam facilis vitae sit repellendus in aperiam! Unde nostrum quia voluptatibus quos ea, saepe inventore quae!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione doloribus quis sint placeat voluptatibus, doloremque at dolorem atque? Saepe aliquam esse voluptates dicta maiores ducimus maxime aliquid iste obcaecati deserunt!</p>
    </div>
</div>


