---
import '../styles/global.css';
import InputItem from '../components/InputItem.astro';
---
<div class="w-full relative">
<form action="" class="">
    <div class="absolute right-0 bottom-0 w-3/4 grid grid-cols-2 gap-7 border-2 mb-14 border-yellow-500 border-dashed">
        <InputItem id="fname", content="First Name" />
        <InputItem id="lname", content="Last Name" />
        <InputItem id="email", content="Email" />
        <InputItem id="phone", content="Phone" />
    </div>
</form>
</div>



