---
import '../styles/global.css';
import Title from './Title.astro';
import Navigation from './Navigation.astro';
---
<!-- HEADER IF IM GOING TO USE Z INDEX -->
<div class="wrapper flex flex-col gap-7 z-10 border-1 border-green-500 w-full">
    <Title />
    <Navigation />
</div>